.catalog {
    margin-top: 50px;
    @media (max-width: 480px) {
        margin-top: 15px;
    }
    &__content {
        display: flex;
        margin-top: 50px;
    }

    &__text {
        color: #050505;
        font-size: 25px;
        font-weight: 500;
        @media (max-width: 480px) {
            width: 335px;
            font-size: 18px;
        }
    }

    &__telephone {
        font-size: 25px;
            color: #FF0000;
            font-weight: 700;
            @media (max-width: 480px) {
                font-size: 18px;
            }
    }
    &__top {
        display: flex;
        
    }

    &__reset {
            margin-top: 37px;
            font-size: 18px;
            color: #3b3a3a;
            font-weight: bold;
            cursor: pointer;
            @media (max-width: 480px) {
                margin-top: 31px;
                font-size: 15px;;
            }
    }

    

    .catalog-sort__title {
        font-size: 23px;
        font-weight: 600;
        color: #050505;
    }


}