.event {
    padding-top: 50px;
    position: relative;
    padding-bottom: 75px;
    background-color: rgb(5, 5, 5);
    @media (max-width: 767px) {
        padding-top: 15px;
    }
    @media (max-width: 575px) {
        padding-top: 15px;
    }
    @media (max-width: 480px) {
        background-color: rgb(5, 5, 5);
        padding-top: 5px;
        padding-bottom: 25px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    &__content {
        display: flex;
        margin-bottom: 45px;
        justify-content: space-between;
        @media (max-width: 1200px) {
            justify-content: space-around;
        }
        @media (max-width: 991px) {
            display: contents;
        }
    }

    &__today {
       margin-top: 50px;
       &-content {
        
        @media (max-width: 991px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 25px;
            margin-left: 15px;
        }
        @media (max-width:575px) {
            grid-template-columns: repeat(1, 1fr);
            margin-left: 60px;
        }
        @media (max-width:480px) {
            margin-left: auto;
    margin-right: auto;
        }
       }
        &-title {
            
                font-size: 25px;
                font-weight: 700;
                text-transform: uppercase;
                color: #ffffff;
                @media (max-width: 1024px) {
                    font-size: 22px;
                }
                @media (max-width:991px) {
                    padding-left: 15px;
                }
                @media (max-width: 768px) {
                    font-size: 22px;
                }
                @media (max-width: 480px) {
                    font-size: 18px;
                }
                @media (max-width: 444px) {
                    font-size: 16px;
                }
                @media (max-width: 420px) {
                    font-size: 15px;
                }

            }
        &-image {
            cursor: pointer;
            display: inline-block; 
            overflow: hidden;
            
          
            
            img {
                display: block;
                width: 500px;
                border-radius: 10px;
                transition: 1s ease;
                margin-bottom: 25px;
                
                
                @media (max-width: 1200px) {
                    width: 450px;
                }
                @media (max-width: 767px) {
                    width: 88%;
                }
                @media (max-width: 575px) {
                    width: 430px;
                    height: 420px;
                    
                }
                @media (max-width: 480px) {
                    width: 370px;
                    height: 361px;
                    margin-left: auto;
                    margin-right: auto
                    
                }
                

                @media (max-width: 430px) {
                    width: 330px;
                    height: 300px;
                }
               
            }
        }

        
    }


    

}


.event-today {
    &__content {
        margin-top: 50px;
    }
    &__modal {
        background-color: #ffffff;
        z-index: 20;
        margin: 0 auto;
        width: 800px;
        height: 600px;
        
        border: 1px solid #ffffff;
        padding: 10px;
        
        &-ticket {
            display: flex;
        }
        &-place, &-date, &-title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: rgba(0, 0, 0, 0.8); 
        }

        &-text {
            font-size: 17px;
            font-weight: 500;
            padding: 7px 10px;
            color: rgba(0, 0, 0, 0.8);
        }

        &-link {
            font-size: 17px;
            font-weight: 500;
            padding-top: 7px;
        }

        &-closed {
            cursor: pointer;
        }

        &-link {
            cursor: pointer;
        }
    }
}

.overlay-modal {
    
   position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  
  z-index: 10;
}


.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#000, 0.25);
}

.modal-container {
	max-height: 90vh;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
	@media (max-width: 600px) {
		width: 360px;
	}
    @media (max-width: 450px) {
        max-height: 70vh;
    }
}

.modal-container-header {
	padding: 16px 32px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-container-title {
	display: flex;
	align-items: center;
	gap: 8px;
	line-height: 1;
	font-weight: 700;
	font-size: 25px;
	svg {
		width: 32px;
		height: 32px;
		color: #750550;
	}
}

.modal-container-body {
	padding: 24px 32px 51px;
	overflow-y: auto;
}

.rtf pre {
    white-space: pre-wrap; /* сохраняет абзацы и переносит текст по словам */
    word-break: break-word; /* разрывает длинные слова */
    width: 100%; /* занимает ширину родительского элемента */
    font-family: "Lato", sans-serif !important;
  }

.rtf {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
	}

	h1 {
		font-size: 25px;
		line-height: 1.125;
	}

	h2 {
		font-size: 1.25rem;
		line-height: 1.25;
	}

	h3 {
		font-size: 1rem;
		line-height: 1.5;
	}

	& > * + * {
		margin-top: 1em;
	}

	& > * + :is(h1, h2, h3) {
		margin-top: 2em;
	}

	& > :is(h1, h2, h3) + * {
		margin-top: 0.75em;
	}

	ul,
	ol {
		margin-left: 20px;
		list-style-position: inside;
	}

	ol {
		list-style: numeric;
	}

	ul {
		list-style: disc;
	}
}

.modal-container-footer {
	padding: 20px 32px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #ddd;
	gap: 12px;
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -51px;
		left: 24px;
		right: 24px;
		height: 50px;
		flex-shrink: 0;
		background-image: linear-gradient(to top, rgba(#fff, 0.75), transparent);
		pointer-events: none;
	}
}



.icon-button {
    margin-top: 10px;
    margin-right: 5px;
	padding:0;
	border: 0;
	background-color: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	cursor: pointer;
	border-radius: 8px;
	transition: 0.15s ease;
	svg {
		width: 24px;
		height: 24px;
	}
    margin-left: auto;
	&:hover,
	&:focus {
		background-color: #dfdad7;
	}
}


.modal__eventall {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(#000, 0.25);
}

.card {
    max-height: 90vh;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 16px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
    padding: 25px;
    @media (max-width: 600px) {
		width: 90%;
	}
}

.title-modal__eventall {
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
}


.span__event {
 font-weight: 600;
 color: rgb(15, 1, 1);
}
