.vinotheque {
    padding: 50px;
    padding-bottom: 100px;
    background-color: rgb(5, 5, 5);
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        
    }
    
    @media(max-width: 1200px) {
        display: none;
    }

    img {
        width: 100%;
        height: 90%;
        border-radius: 5px;
        opacity: 0.9;
        border: 1px solid #ffffff;
    }
}